#postgresql
[database]
host = "localhost"
port = "5432"
database = ""
user = ""
password = ""

#gorm
[log]
level = "info"

#Cosmos Chain API
[api]
host = "http://localhost:1317"

#App configuration values. leave start block 
[base]
startblock = -1 # start at the last indexed block
endblock = -1 # no end block
throttling = 0 # do not throttle