#gorm
[log]
level = "info"
path = "/exact/file/path.txt"
pretty = true

#App configuration values
[base]
addressRegex = "kujira(valoper)?1[a-z0-9]{38}"
addressPrefix = "kujira"
startblock = 1 # start indexing at beginning of the blockchain, -1 to resume from highest block indexed
endblock = 100 # stop indexing at this block, -1 to never stop indexing
throttling = 0
blockTimer = 10000 #print out how long it takes to process this many blocks
waitForChain = false #if true, indexer will start when the node is caught up to the blockchain
waitForChainDelay = 10 #seconds to wait between each check for node to catch up to the chain
indexingEnabled = true #If false, TX won't be added to the DB but other values might be READ from the DB
exitWhenCaughtUp = true #mainly used for Osmosis rewards indexing
RewardIndexingEnabled = false #don't index Osmosis rewards, do not start other threads or processes. leave false on any chain except osmosis.
RewardsStartBlock = 0 # start indexing rewards at beginning of the blockchain (if blank, if not set, it will just use startblock)
RewardsEndBlock = 0 # stop indexing at this block, -1 to never stop indexing (if blank, if not set, it will just use endblock)
Dry = false # if true, indexing will occur but data will not be written to the database.

#Lens config options
[lens]
rpc = "https://rpc.kujira.ccvalidators.com:443" #On Kujira use one of the endpoints from the list https://github.com/Team-Kujira/networks/tree/master/mainnet
accountPrefix = "kujira"
chainID = "kaiyo-1"
chainName = "Kujira"

#postgresql
[database]
host = "localhost"
port = "5432"
database = "taxappdb"
user = "taxapp"
password = "taxapptest"
logLevel = "error"

[logger]
